server:
  port: 2222
spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-location: classpath:/config
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka