spring:
  data:
    mongodb:
      uri: ${MONGO_URI}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true

jwt:
  secret: ${JWT_SECRET}